/* Basic styling for the queue system */
body {
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 3vh;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    /* background-image: url(../images/background_img.jpg); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  select {
    padding: 50px 50px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 2vh;
  }

  button {
    padding: 100px 200px;
    margin: 20px;
    font-size: 3vh;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  h2 {
    margin-top: 20px;
    color: #333;
  }
  
  ul {
    padding-left: 20px;
    list-style-type: none;
  }
  
  li {
    margin: 5px 0;
  }
  